*.bg-green {
    background-color: green;
}


*.bg-grey {
    background-color: gray;
}

*.align-items-centre {
    align-items: center;
}


*.flex {
    display: flex;
}


*.grid {
    display: grid;
}


*.grid-5-columns {
    grid-template-columns: repeat(5, 1fr);
}


*.justify-space-around {
    justify-content: space-around;
}


*.justify-space-between {
    justify-content: space-between;
}


*.no-bullets {
    list-style: none;
}


*.p-5 {
    padding: 5rem;
}


*.p-half {
    padding: 0.5rem
}


*.span-all-grid-columns {
    grid-column: 1/-1;
}